@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */

$main-red: #DC2F2F;
$black: #000000;
$white: #FFFFFF;
$whiteui: #F1F1F1;
$blackui: #010101;
$main-dark: #282627;

/* -------------------------------------------------------------------------- */
/*                               General styles                               */
/* -------------------------------------------------------------------------- */

html *{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    transition: all ease-in-out 100ms;
}

a:hover{
    color: $white;
}

p{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
}

body{
    background: #F1F1F1;
    scroll-behavior: smooth;
}

/* -------------------------------------------------------------------------- */
/*                                 Menu Icon                                  */
/* -------------------------------------------------------------------------- */

/* ----------------------------- General styles ----------------------------- */

.navbar-icon{
    width: 32px;
    padding: 0;
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

#navbar-icon-bar_top,
#navbar-icon-bar_middle,
#navbar-icon-bar_bottom{
    width: 32px;
    height: 2px;
    border-radius: 20%;
    background-color: $white;
}

#navbar-icon-bar_top{
    margin-bottom: 8px;
}

#navbar-icon-bar_bottom{
    margin-top: 8px;
}

/* ------------------------ Menu icon close animation ----------------------- */

#navbar-icon-bar_top.close{
    animation: menu-icon-shrink-reverse-right 300ms forwards, 200ms menu-icon-grow 300ms forwards;
}
#navbar-icon-bar_middle.close{
    animation: menu-icon-grow 500ms forwards;
}   
#navbar-icon-bar_bottom.close{
    animation: menu-icon-shrink-reverse-left 300ms forwards, 200ms menu-icon-grow 300ms forwards;
}

/* ------------------------ Menu icon open animation ------------------------ */

#navbar-icon-bar_top.open{
    animation: menu-icon-shrink 300ms forwards, 300ms menu-icon-close-expand-right 200ms forwards;
}
#navbar-icon-bar_middle.open{
    animation: menu-icon-shrink 200ms forwards;
} 
#navbar-icon-bar_bottom.open{
    animation: menu-icon-shrink 100ms forwards, 300ms menu-icon-close-expand-left 200ms forwards;
}

/* -------------------------- Menu Icon animations -------------------------- */

@keyframes menu-icon-shrink{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

@keyframes menu-icon-grow{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes menu-icon-shrink-reverse-right{
    0%{
        width: 50%;
        transform: translate(4px,8px) rotate(45deg);
    }
    100%{
        width: 0%;
    }
}

@keyframes menu-icon-shrink-reverse-left{
    0%{
        width: 50%;
        transform: translate(4px,-12px) rotate(-45deg);
    }
    100%{
        width: 0%;
    }
}

@keyframes menu-icon-close-expand-right{
    0%{
        transform: translate(4px,8px) rotate(45deg);
    }
    100%{
        width: 50%;
        transform: translate(4px,8px) rotate(45deg);
    }
}

@keyframes menu-icon-close-expand-left{
    0%{
        transform: translate(4px,8px) rotate(45deg);
    }
    100%{
        width: 50%;
        transform: translate(4px,-12px) rotate(-45deg);
    }
}
/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */

.main-button{
    display: inline-flex;
    align-items: center;
    color: $white;
    background-color: $main-red;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
}

.main-button__icon{
    background-color: $black;
    padding: 1rem;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    transition: all ease-in-out 200ms;
}

.main-button__text{
    margin: 0px 20px;
}

.main-button:hover .main-button__icon{
    padding-left: 1.5rem;
    color: $white;
}

.main-button:hover .main-button__text{
    text-shadow: 0 0 2px $white;
    color: $white;
}

.main-button.dark{
    border: solid 1px $white;
    background: transparent;
}

.main-button.dark .main-button__icon{
    background: white;
    color: black;
}

.collapse-button{
    display: flex;
    background: transparent;
    border: none;
    color: $white;
    padding: 40px 0px;
    transition: all ease-in-out 200ms;  
}

.collapse-button__icon{
    margin-right: 10px;
    transition: all ease-in-out 200ms;  
}

.collapse-button:hover{
    margin-left: 10px;
}

.circle-button{
    color: $whiteui;
}

.survey-question__container{
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

.survey-button{
    background: #000000;
    max-width: 500px;
    min-width: 300px;
    height: 60px;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.survey-button.answered{
    background: #DC2F2F;
}

.survey-button:hover{
    cursor: pointer;
}

.survey-question__buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px
}

.button_primary{
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: $main-red;
}

/* -------------------------------------------------------------------------- */
/*                                    Menu                                    */
/* -------------------------------------------------------------------------- */

.navbar{
    width: 100%;
    min-height: 4.25rem;
    background-color: $black;
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
}

.navbar__brand-image{
    width: 100px;
}

.navbar-collapse{
    transition: all ease-in-out 200ms;
}

.navbar-collapse.show{
    padding-top: 20px;
}


.menu__link{
    margin: auto 0px;
    margin-left: 30px;
    color: $white;
}

.menu__link:hover{
    cursor: pointer;
}

.dropdown-menu{
    position: absolute;
    right: 0;
    width: 250px !important;
    background: $black;
}

.dropdown-menu a{
    color: $white !important;
}

.menu__dropdown{
    margin-left: 30px;
}

.menu__dropdown .nav-link{
    color: $white !important;
}

.menu__dropdown .menu__link{
    color: $black;
    display: block;
    margin-right: 30px;
}


/* -------------------------------------------------------------------------- */
/*                                Languages                                   */
/* -------------------------------------------------------------------------- */

.language__banner{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #000000;
    width: 80px;
    height: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language__banner-item:hover{
    cursor: pointer;
}


/* -------------------------------------------------------------------------- */
/*                                Main section                                */
/* -------------------------------------------------------------------------- */

.main-section{
    height: calc(100vh - 4.25rem);
    margin-top: 4.25rem;
    background: $whiteui;
}

.main-section__container{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.col{
    padding: 0;
}

.main-section__carousel-container{
    padding: 0;
    padding-left: 60px;
}

.carousel-container{
    width: 100%;
}

.carousel-item{
    height: 100%;
    text-align: center;
}

.carousel__info{
    margin-top: 20px;
}

.carousel.slide,
.carousel-inner{
    height: 100%;
}

.carousel__image{
    width: 100%;
}

.main-section__title{
    font-size: 4rem;
    color: $blackui;
    line-height: 1.2;
}

.main-section__description{
    line-height: 1.5;
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                Faqs Section                                */
/* -------------------------------------------------------------------------- */

.faqs-section__title{
    color: white;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.faqs-section__grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.faqs-section__item-info{
  min-height: 260px;
}

.faqs-section__item-info{
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    background: $main-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faqs-section__icon{
    width: 40%;
    margin-bottom: 20px;
}

.faqs-section__more {
    font-size: 1.375rem;
}

.faqs-section .collapse{
}

.faqs-section .card{
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
}

.faqs-section .card-header{
    background: $main-dark;
    color: white;
}

.faqs-section .card-body{
    background: #1B1A1C;
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                             Portafolio section                             */
/* -------------------------------------------------------------------------- */

.portafolio-section{
    position: relative;
}

.portafolio-section__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.portafolio-section__title{
  margin-top: 40px;
  text-align: center;
}

.portafolio-section__card{
    text-align: left;   
    margin: 80px 0px;
    color: $whiteui;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.portafolio-section__card-image{
    padding: 20px 40px;
    height: 200px;
    background: $whiteui;
}

.card__buttons{
    float: right;
}

/* -------------------------------------------------------------------------- */
/*                            Testimonials section                            */
/* -------------------------------------------------------------------------- */

.testimonials-section__info{
    color: $whiteui;
    margin: auto 0px;
}

.testimonials-section__title{
    font-size: 3.5rem;
    line-height: 1.3;
    margin-right: 20px;
}

.testimonials-section__button{
    width: 80%;
    margin-top: 20px;
}

.testimonials-section__testimonials{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.testimonials-section__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $whiteui;
    margin-bottom: 20px;
    border: solid 1px $whiteui;
    border-radius: 12px;
    padding: 20px;
}

.testimonials-section__card-image{
    width: 64px;
    margin-bottom: 10px;
}

.testimonials-section__star{
    margin-right: 5px;
}

/* -------------------------------------------------------------------------- */
/*                               Pricing section                              */
/* -------------------------------------------------------------------------- */

.pricing-section__container{
    text-align: center;
}

.pricing-section__cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.pricing-section__card{
    text-align: center;
}

.pricing-section__card-header h3{
    line-height: 1.5;
}

.pricing-section__card ul{
    list-style-type: none;
    padding: 0;
}

.pricing-section__card-body{
    text-align: start;
    font-size: 0.9rem;
}

/* -------------------------------------------------------------------------- */
/*                               Contact section                              */
/* -------------------------------------------------------------------------- */

.contact-section__title{
    font-size: 3.5rem;
    line-height: 1.2;
}

.contact-section .main-button{
    margin-top: 20px;
}

.contact-section__info{
    margin: auto 0;
    color: $white;
}

.contact-section__image{
    width: 100%;
    margin: auto 0;
}

.contact-section__form input{
    border: none;
    border-radius: 12px;
    height: 40px;
    margin-top: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.footer{
    background: $black;
    position: relative;
    margin-top: 35px;
}

.footer__container{
    z-index: 1;
    text-align: center;
    color: $white;
}

.footer__brand{
    width: 128px;
    margin-bottom: 20px;
}

.footer .menu a,
.footer .menu__dropdown a{
    color: $white !important;
}

.footer .menu{
    text-align: center;
    justify-content: center;
}

.footer__social-link{
    color: $white
}

.footer__social{
    margin: 40px 0px;
}

.footer__social-icon{
    margin: 0px 10px;
}

/* -------------------------------------------------------------------------- */
/*                                Modificators                                 */
/* -------------------------------------------------------------------------- */

.h-container{
    padding-left: 8%;
    padding-right: 8%;
}

.v-container{
    padding-top: 5%;
    padding-bottom: 5%;
}

.light-color{
    color: $whiteui;
}

.skew-section{
    background-image: linear-gradient(to left, rgba(220, 47, 47, 0.9) 50%, rgba(220, 47, 47, 0.9)), url('../images/shape.png');
    background-repeat: no-repeat;
    background-position: left center;
    transform: skewY(-3deg);
}

.skewed-section-dark{
    transform: skewY(-3deg) translateY(-50px);
    background: $black;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.skew-container{
    transform: skewY(3deg);
}

.max-w-page{
    max-width: 1800px;
}

.m-auto{
    margin: auto;
}

.no-default{
    border: none;
    background-color: transparent;
    color: $white;
}




/* -------------------------------------------------------------------------- */
/*                                Media querys                               */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 1910px){
    .skewed-section-dark{
        height: 100px;
    }
}

@media only screen and (max-width: 1360px){
    .main-section__carousel-container{
        padding-left: 30px;
    }
}

@media only screen and (max-width: 1100px){
    .menu__link{
        margin-left: 10px;
    }

    .main-section__title{
        font-size: 3rem;
    }
    .menu__dropdown{
        margin-left: 5px;
    }
}

@media only screen and (max-width: 991px){
    .main-section{
        height: auto;
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }

    .main-section__info{
        margin-bottom: 40px;
    }

    .main-section__carousel-container{
        padding-left: 0px;
    }

    .carousel__image{
        width: 70%;
    }

    .faqs-section__grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .portafolio-section__container{
        grid-template-columns: repeat(1, 1fr);
    }

    .portafolio-section__card{
        margin: 10px 0px;
    }

    .testimonials-section__title{
        margin-right: 0px;
    }

    .testimonials-section__button{
        width: 100%;
        margin-bottom: 20px;
    }

    .pricing-section__container{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .pricing-section__cards-grid{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }

    .contact-section__image-container{
        text-align: center;
    }

    .contact-section__image{
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }

    .dropdown-menu{
        padding-left: 20px;
    }
}

@media only screen and (max-width: 767px){
    .menu__link{
        margin-left: 0px;
        padding: 0.5rem 0px;
    }
    .main-section__title{
        font-size: 3rem;
    }
    .menu__dropdown{
        margin-left: 0px;
    }

    .carousel__image{
        width: 100%;
    }

    .faqs-section__grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .portafolio-section__container{
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonials-section__testimonials{
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonials-section__card{
        margin-bottom: 5px;
    }

    .footer .menu{
        flex-direction: column;
    }
}